<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<!-- Đường dẫn -->
<div class="container link">
    <ul class="breadcrumb">
        <li><a href="/phong">Phòng trọ</a></li>
        <li>
            <%= categories.title %>
        </li>
    </ul>
</div>

<!-- Ảnh -->
<div class="container">
    <div class="card-items img-room">
        <div class="row">
            <% const images=categories.images.split(",") %>
                <% images.forEach(element=> { %>
                    <a class="card-item" href="">
                        <img src="<%= element %> " alt="">
                    </a>
                    <% }) %>
        </div>
    </div>

    <!-- Content -->
    <div class="container content-details">
        <h2 style="margin: 30px 0;">
            <%= categories.title %>
        </h2>
        <div class="row">
            <div class="col-6">
                <!-- Thông tin phòng -->
                <div class="room-detail">
                    <div class="detail_Title">
                        <i class="fas fa-home"></i>
                        <span>
                            Thông tin phòng
                        </span>
                    </div>

                    <div class="detail_description">
                        <table>
                            <tr>
                                <th>Giá phòng</th>
                                <th>Diện tích</th>
                                <th>Đặt cọc</th>
                                <th>Sức chứa</th>
                            </tr>
                            <tr>
                                <td>
                                    <%= categories.price.toLocaleString('vi-VN', { style: 'currency' , currency: 'VND'
                                        }) %>
                                </td>
                                <td>
                                    <%= categories.acr %> m2
                                </td>
                                <td>
                                    <%= categories.desposit.toLocaleString('vi-VN', { style: 'currency' ,
                                        currency: 'VND' }) %>
                                </td>
                                <td>
                                    <%= categories.capacity %> người
                                </td>
                            </tr>
                            <tr>
                                <td>Điện</td>
                                <td>Nước</td>
                                <td>wifi</td>
                                <td>Trạng thái</td>
                            </tr>
                            <tr>
                                <td>
                                    <%= categories.electricityBill.toLocaleString('vi-VN', { style: 'currency' ,
                                        currency: 'VND' }) %>
                                </td>
                                <td>
                                    <%= categories.waterBill.toLocaleString('vi-VN', { style: 'currency' ,
                                        currency: 'VND' }) %>
                                </td>
                                <td>
                                    <%= categories.wifiBill.toLocaleString('vi-VN', { style: 'currency' ,
                                        currency: 'VND' }) %>
                                </td>
                                <td id="status">
                                    <% if (categories.status==1) { %>
                                        đẵ cho thuê
                                        <% } %>
                                            <% if (categories.status==2) { %>
                                                còn trống
                                                <% } %>
                                                    <% if (categories.status==3) { %>
                                                        bảo trì
                                                        <% } %>

                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th id="address-title">Địa chỉ</th>
                            </tr>
                            <tr>
                                <td>
                                    <%= categories.address %>
                                        </th>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Tiện ích -->
                <div class="utility">
                    <div class="detail_Title">
                        <i class="fas fa-dice"></i>
                        <span>
                            Tiện ích
                        </span>
                    </div>
                    <div class="detail_description" style="padding: 20px 0">
                        <% const utilities=categories.utilities.split(",").map(item=> {
                            switch (item) {
                            case "dh":
                            return "Điều hòa"
                            case "qc":
                            return "Quạt cháy"
                            case "mb":
                            return "Máy bơm"
                            default:
                            break;
                            }
                            }) %>
                            <% utilities.forEach(element=> { %>
                                <span>
                                    <%= element %>
                                </span>
                                <% }) %>
                    </div>
                </div>
                <button id="myBtn" style="position: fixed; bottom: 200px; right: 0;
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                z-index: 9999;
                cursor: pointer;
                ">Đặt phòng</button>
                <div id="myModal" class="modal">

                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>ĐẶT PHÒNG</p>
                        <% if (!user) { %>
                            <p>Vui lòng đăng nhập để đặt phòng <a style="color: lightseagreen;" href="/dang-nhap">click
                                    vào đây để đăng nhập</a></p>

                            <% } %>
                                <% if (user) { %>
                                    <form action="/dat-phong/<%= categories.id %>" method="POST">
                                        <button type="submit" style="      background-color: #008CBA; /* Green */
                                        font-size: 12px;
                                        border: none;
                                        color: white;
                                        padding: 15px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        z-index: 9999;
                                        cursor: pointer;
                                        ">XÁC NHẬN</button>
                                    </form>
                                    <% } %>

                    </div>

                </div>

            </div>
            <div class="col-6 mla">
                <div class="host-detail">
                    <div class="detail_Title">
                        <i class="fas fa-user"></i>
                        <span>
                            Thông tin chủ phòng
                        </span>
                    </div>
                    <div class="detail_description row">
                        <div class="host-info">
                            <h3 id="host-name">
                                <%= categories.roomUsername %>
                            </h3>
                            <h3 id="phone-number">
                                SĐT : <%= categories.roomUserPhone %>
                            </h3>
                        </div>
                        <div class="upload-date">
                            <h3>
                                Ngày đăng
                                <%= moment(categories.verifyTime).format("DD/MM/yyyy") %>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="more-desc">
                    <div class="detail_Title">
                        <i class="fas fa-exclamation"></i>
                        <span>
                            Mô tả thêm
                        </span>
                    </div>
                    <div class="detail_description">
                        <p>
                            <%- categories.description %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="fb-comments" data-href="http://localhost:3000/phong/<%= categories.id %>" data-width="100%"
            data-numposts="5"></div>
    </div>
    <div id="fb-root"></div>
    <script>
        let header = document.querySelector('.header')
        let hamburgerMenu = document.querySelector('.hamburger-menu')
        let dropdown = document.querySelector('.dropdown')
        let drList = document.querySelector('.dropdown-list ul')
        hamburgerMenu.addEventListener('click', function name() {
            header.classList.toggle('menu-open')
        })
        dropdown.addEventListener('click', function name() {
            drList.classList.toggle('active')
        })
    </script>
    <script>

        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=543121906576699&autoLogAppEvents=1"
        nonce="5kCIYnte"></script>


    <script>

        // notifycation
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "11300",
            "hideDuration": "111000",
            "timeOut": "15000",
            "extendedTimeOut": "11000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

            <% if (errorValidate) { %>
            const err = '<%= errorValidate %>';
                toastr["error"]("<%= errorValidate %>")

                    <%}%>
              <% if (successAlert) { %>
            toastr["success"]("Đặt phòng thành công, chủ phòng sẽ liên hệ lại cho bạn")
            <%}%>

    </script>