<div class="col">
  <div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
      <h3 class="mb-0">DANH MỤC PHÒNG</h3>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="sort" data-sort="name">#</th>
            <th scope="col" class="sort" data-sort="budget">Tên</th>
            <th scope="col" class="sort" data-sort="status">Trạng thái</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="list">
          <% if (categories) { %>
            <% categories.forEach((item,index)=> { %>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">
                        <%= item.id %>
                      </span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  <%= item.name %>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <span class="status">
                      <% if (item.status===1 ) { %>
                        <span class="badge badge-success">hoạt động'</span>
                        <% } else{ %>
                          <span class="badge badge-danger">không hoạt động'</span>
                          <% } %>

                    </span>
                  </span>
                </td>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="#">Sửa</a>
                      <a class="dropdown-item" href="#">Xóa</a>
                    </div>
                  </div>
                </td>
              </tr>
              <% }) %>
                <% } %>
        </tbody>
      </table>
    </div>
    <!-- Card footer -->
    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <% for (i=1; i <=total; i ++) { %>
            <% if(curentPage==i) { %>
              <li class="page-item active">
                <a class="page-link" href="/admin/category/?page=<%= i %>">
                  <%= i %>
                </a>
              </li>
              <%} else { %>
                <li class="page-item">
                  <a class="page-link" href="/admin/category/?page=<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <%} %>
                  <% } %>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- THÊM -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">THÊM DANH MỤC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/admin/category/create">
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1">Tên</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Trạng thái</label>
            <select class="form-control" id="exampleFormControlSelect1" name="status">
              <option value="1">hoạt động</option>
              <option value="1">không hoạt động</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- CODE JS  -->

<script>
  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": true,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
    <% if (errorValidate) { %>
      const err =  '<%= errorValidate %>';
      toastr["error"]("<%= errorValidate %>")

      <%}%>
          <% if (successAlert) { %>
    toastr["success"]("<%= successAlert %>")
    <%}%>
</script>